@charset "utf-8";

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../font/Pretendard-SemiBold.woff2') format('woff2'), url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../font/Pretendard-Medium.woff2') format('woff2'), url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff');
}

:root {
	--dj-write: #ffffff;
	--dj-error: #de0000;
	--dj-warning: #e87d00;
	--dj-primary: #2c478e;
	--dj-primary-drak: #131d39;
	--dj-green: #009533;
	--dj-text-01: #8b93a2;
	--dj-text-02: #666666;
	--dj-text-03: #333333;
	--dj-text-04: #afbac8;
	--dj-line-01: #cccccc;
	--dj-line-02: #f1f1f1;
	--dj-background-01: #eff5ff;
	--dj-background-02: #f4f6fa;
	--dj-background-03: #fafafa;
	--dj-text-16: 16px;
	--dj-tert-14: 14px;
	--dj-text-13: 13px;
	--dj-text-12: 12px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Pretendard', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

a {
	text-decoration: none;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

button,
input,
textarea {
	font-family: 'Pretendard', sans-serif;
}

iframe {
	border: 0;
	height: 100%;
	width: 100%;
}

/* icon */
.ico {
	background-size: cover !important;
	display: inline-block;
}

.i-home {
	background: url(../../../img/ico/i-home.png);
	height: 20px;
	width: 20px;
}

.i-accept {
	background: url(../../../img/ico/i-accept.png);
	height: 20px;
	width: 20px;
}

.i-watermeter {
	background: url(../../../img/ico/i-watermeter.png);
	height: 20px;
	width: 20px;
}

.i-meter-reading {
	background: url(../../../img/ico/i-meter-reading.png);
	height: 20px;
	width: 20px;
}

.i-remote-meter-reading {
	background: url(../../../img/ico/i-remote-meter-reading.png);
	height: 20px;
	width: 20px;
}

.i_leak {
	background: url(../../../img/ico/i_leak.png);
	height: 20px;
	width: 20px;
}

.i_writeaccu {
	background: url(../../../img/ico/i_writeaccu.png);
	height: 20px;
	width: 20px;
}

.i_imposition {
	background: url(../../../img/ico/i_imposition.png);
	height: 20px;
	width: 20px;
}

.i-meter-reading-list {
	background: url(../../../img/ico/i-meter-reading-list.png);
	height: 20px;
	width: 20px;
}

.i-history-management {
	background: url(../../../img/ico/i-history-management.png);
	height: 20px;
	width: 20px;
}

.i-set {
	background: url(../../../img/ico/i-set.png);
	height: 20px;
	width: 20px;
}

.i-toggle-sidebar {
	background: url(../../../img/ico/i-toggle-sidebar.png);
	height: 20px;
	width: 20px;
}

.i-arrow-down {
	background: url(../../../img/ico/i-arrow-down.png);
	height: 20px;
	width: 20px;
}

.i-primary-search {
	background: url(../../../img/ico/i-primary-search.png);
	height: 24px;
	width: 24px;
}

.i-excel {
	background: url(../../../img/ico/i-excel.png);
	height: 16px;
	width: 16px;
}

.i-prev-double {
	background: url(../../../img/ico/i-prev-double.png);
	height: 24px;
	width: 24px;
}

.i-next-double {
	background: url(../../../img/ico/i-next-double.png);
	height: 24px;
	width: 24px;
}

.i-prev {
	background: url(../../../img/ico/i-prev.png);
	height: 24px;
	width: 24px;
}

.i-next {
	background: url(../../../img/ico/i-next.png);
	height: 24px;
	width: 24px;
}

.i-export {
	background: url(../../../img/ico/i-export.png);
	height: 16px;
	width: 16px;
}

.i-import {
	background: url(../../../img/ico/i-import.png);
	height: 16px;
	width: 16px;
}

.i-search {
	background: url(../../../img/ico/i-search.png);
	height: 16px;
	width: 16px;
}

.i-del {
	background: url(../../../img/ico/i-del.png);
	height: 16px;
	width: 16px;
}

.i-user-plus {
	background: url(../../../img/ico/i-user-plus.png);
	height: 16px;
	width: 16px;
}

.i-trash-red {
	background: url(../../../img/ico/i-trash-red.png);
	height: 16px;
	width: 16px;
}

.wrap {
	display: flex;
}

.custom-sidebar {
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(177, 89, 89, 0.25);
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	height: 100vh;
	padding: 20px;
	position: relative;
	width: 260px;
	z-index: 2;
	overflow-y: auto;
}

.btn-toggle-sidebar {
	align-items: center;
	background: #eff5ff;
	border: 0;
	border-radius: 100px;
	display: flex;
	height: 32px;
	justify-content: center;
	position: absolute;
	transition: all 0.3s ease !important;
	right: -16px;
	top: 14px;
	width: 32px;
	z-index: 9999;
}

.btn-toggle-sidebar:active,
.btn-toggle-sidebar:focus {
	outline: none;
}

.custom-sidebar-logo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.custom-sidebar-logo img {
	height: 44px;
}

.custom-nav {
	flex-direction: column;
	gap: 4px;
	padding: 20px 0 0 0;
}

.custom-nav .nav-item {
	position: relative;
}

.custom-nav .nav-item.active .i-home {
	background: url(../../../img/ico/i-home-active.png);
}

.custom-nav .nav-item.active .i-accept {
	background: url(../../../img/ico/i-accept-active.png);
}

.custom-nav .nav-item.active .i-meter-reading {
	background: url(../../../img/ico/i-meter-reading-active.png);
}

.custom-nav .nav-item.active .i_leak-reading {
	background: url(../../../img/ico/i_leak_active.png);
}

.custom-nav .nav-item.active .i_writeaccu-reading {
	background: url(../../../img/ico/i_writeaccu_active.png);
}
.custom-nav .nav-item.active .i_imposition-reading {
	background: url(../../../img/ico/i_imposition_active.png);
}
.custom-nav .nav-item.active .i-remote-meter-reading {
	background: url(../../../img/ico/i-remote-meter-reading-active.png);
}

.custom-nav .nav-item.active .i-meter-reading-list {
	background: url(../../../img/ico/i-meter-reading-list-active.png);
}

.custom-nav .nav-item.active .i-history-management {
	background: url(../../../img/ico/i-history-management-active.png);
}

.custom-nav .nav-item.active .i-set {
	background: url(../../../img/ico/i-set-active.png);
}

.custom-nav .nav-item.active .i-watermeter {
	background: url(../../../img/ico/i-watermeter-active.png);
}

.custom-nav .nav-item .nav-link {
	align-items: center;
	border-radius: 8px;
	color: #5c667b;
	font-size: 15px;
	display: flex;
	gap: 16px;
	height: 44px;
	padding: 0 16px;
	width: 100%;
}

.custom-nav .nav-item.active .nav-link {
	color: var(--dj-primary);
}

.custom-nav .nav-item .nav-link b {
	transition: all 0.5s ease;
	margin: 0 0 0 auto;
}

.custom-nav .nav-item .nav-link.active b {
	transform: rotate(180deg);
	transition: all 0.5s ease;
}

.custom-nav .nav-item.active .nav-link {
	background: #eff5ff;
}

.custom-nav .nav-item .nav-link:hover {
	background: #f4f6fa;
}

.custom-nav-navbar {
	border: 0;
	box-shadow: unset;
	display: none;
	padding: 8px 0 0 0;
	position: relative !important;
	transform: unset !important;
	width: 100%;
}

.custom-nav-navbar.active {
	display: block;
}

.custom-nav-navbar .nav-item {
	margin: 0 0 4px 16px;
}

.custom-nav-navbar li:last-child {
	margin: 0 0 0 16px;
}

.custom-nav-navbar .nav-item .nav-link {
	color: #5c667b;
	font-size: 14px;
	font-weight: 400;
	height: 36px;
	padding: 0 0 0 36px;
}

.custom-sidebar.collapsed {
	padding: 20px 12px;
	width: 68px;
}

.custom-sidebar.collapsed .btn-toggle-sidebar i {
	transform: rotate(180deg);
	transition: all 0.5s ease !important;
}

.custom-sidebar.collapsed .custom-sidebar-logo {
	visibility: hidden;
}

.custom-sidebar.collapsed .custom-nav .nav-item .nav-link {
	padding: 0 12px;
}

.custom-sidebar.collapsed .custom-nav .nav-item .nav-link span {
	display: none;
}

.custom-sidebar.collapsed .custom-nav .nav-item .nav-link b {
	display: none;
}

.main-wrap {
	position: relative;
	width: 100%;
}

.sub-content {
	background: var(--dj-background-02);
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: calc(100vh - 60px);
	margin: 60px 0 0 0;
	padding: 24px;
}

.sub-content.m-0 {
	height: 100%;
}

.custom-header {
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	height: 60px;
	padding: 0 24px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.custom-header ul {
	display: flex;
	gap: 24px;
	margin: 0 0 0 auto;
}

.custom-header ul li {
	color: #2c478e;
	font-size: 16px;
	font-weight: bold;
}

.custom-header ul li:last-child a {
	color: #333333;
}

.custom-header .system-version {
	font-size: 12px;
	color: var(--dj-text-02);
	margin-top: 2px;
	margin-left: auto;
}

.map-container {
	height: calc(100vh - 60px);
	margin: 60px 0 0 0;
	position: relative;
}

.box-list-wrap {
	display: flex;
	flex-direction: column;
	gap: 12px;
	position: absolute;
	z-index: 3;
}

.box-list-wrap.left {
	left: 12px;
	top: 12px;
}

.box-list-wrap.right {
	right: 12px;
	top: 12px;
}
.box-list-wrap.center {
	top: 6px;
	width: 100%;
}
.box-address {
	border-radius: 8px;
	background: #f4f6fa;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	padding: 12px;
}

.box-list {
	border-radius: 8px;
	background: #f4f6fa;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	padding: 12px;
	width: 186px;
}

.box-list.address {
	border-radius: 8px;
	background: #f4f6fa;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	padding: 4px;
	width: 100%;
	top: 6px;
}

.box-list > ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.box-item {
	align-items: center;
	border-radius: 8px;
	background: #fff;
	box-shadow: none;
	display: flex;
	height: 60px;
	gap: 12px;
	padding: 0 12px;
}

.box-icon {
	object-fit: cover;
	height: 40px;
	width: 40px;
}

.box-item dd {
	color: #333333;
	font-size: 14px;
	font-weight: 600;
}

.box-item dt {
	color: #666666;
	font-size: 12px;
	font-weight: 400;
}

.search-group {
	position: relative;
	width: 260px;
}

.search-group input {
	border-radius: 8px;
	border: 3px solid var(--dj-primary);
	background: var(--dj-write);
	color: var(--dj-primary-drak);
	font-size: var(--dj-text-16);
	height: 52px;
	padding: 0 16px;
	width: 100%;
}

.search-group input::placeholder {
	color: var(--dj-text-04);
}

.search-group button {
	align-content: center;
	background: none;
	border: 0;
	display: flex;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 16px;
}

.search-group button:focus,
.search-group button:active {
	outline: none;
}

.chart-group {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	gap: 8px;
	width: 260px;
}

.graph-group {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	gap: 8px;
	width: 400px;
}

.grid-group {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	gap: 8px;
	width: 800px;
}

.accordion-header {
	align-items: center;
	background-color: var(--dj-write);
	border-radius: 8px;
	color: var(--dj-text-03);
	cursor: pointer;
	font-size: var(--dj-text-16);
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	padding: 12px;
	width: 100%;
}

.accordion-header::after {
	background: url(../../../img/ico/i-arrow-down.png);
	background-size: cover;
	content: '';
	display: inline-block;
	flex: 0 0 auto;
	height: 24px;
	transition: all 0.5s;
	width: 24px;
}

.accordion-item.active .accordion-header::after {
	transform: rotate(-180deg);
	transition: all 0.5s;
}

.accordion-content {
	background: var(--dj-write);
	border-radius: 8px;
	display: none;
	padding: 0 12px 12px 12px;
	transition: all 0.5s;
}

.accordion-content .bcard {
	box-shadow: none;
	border: 0;
}

.accordion-item.active .accordion-header {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.accordion-item.active .accordion-content {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.chart-group canvas {
	height: 140px;
	width: 140px;
}

.chart-area {
	display: flex;
	justify-content: center;
	position: relative;
}

.chart-legend {
	align-items: center;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
	display: flex;
	margin: 0 0 8px 0;
	padding: 8px;
}

.chart-legend ul {
	display: flex;
	justify-content: space-between;
	gap: 4px;
	margin: 0;
	width: 100%;
}

.chart-legend ul li {
	align-items: center;
	color: var(--dj-text-03);
	font-size: 11px;
	display: flex;
	margin-bottom: 0;
}

.chart-legend ul li span {
	border-radius: 2px;
	height: 12px;
	margin-right: 4px;
	width: 12px;
}

.chart-group dl {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 50%;
	position: absolute;
	top: 46%;
	transform: translate(-50%, -50%);
}

.chart-group dt {
	color: var(--dj-text-04);
	font-size: var(--dj-tert-14);
	font-weight: 400;
}

.chart-group dd {
	color: var(--dj-text-03);
	font-size: 20px;
	font-weight: bold;
}

.dj-card {
	border-radius: 12px;
	background: var(--dj-write);
	padding: 16px 20px;
}

.row {
	--bs-gutter-x: 12px;
	--bs-gutter-y: 4px;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}

.dj-input-group {
	align-items: center;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
}

.dj-input-group .componentsFont {
	color: var(--dj-primary-drak);
	font-size: var(--dj-text-13);
	flex: 0 0 auto;
	width: 86px;
}

.col-form-label {
	color: var(--dj-primary-drak);
	font-size: var(--dj-text-13);
}

.dj-input-group .componentsSelect,
.form-control,
.dj-input-group input[type='text'] {
	background: var(--dj-write);
	border: 1px solid var(--dj-line-02);
	border-radius: 4px;
	color: var(--dj-text-03);
	font-size: var(--dj-tert-13);
	height: 28px;
	padding: 0 12px;
	width: 100%;
}

.dj-input-group .componentsSelect::placeholder,
.dj-input-group input[type='text']::placeholder,
.form-control::placeholder {
	color: var(--dj-text-01);
}

.dj-input-group .componentsSelect:hover,
.dj-input-group input[type='text']:hover,
.form-control:hover {
	border: 1px solid var(--dj-line-01);
}

.dj-input-group .componentsSelect:active,
.dj-input-group .componentsSelect:focus,
.dj-input-group input[type='text']:active,
.dj-input-group input[type='text']:focus,
.form-control:focus,
.form-control:active {
	border: 1px solid var(--dj-primary);
	box-shadow: none;
}

.dj-input-group .componentsSelect:disabled,
.form-control[disabled],
input:disabled,
select.form-control:disabled {
	background: var(--dj-background-03);
	border: 1px solid var(--dj-line-02);
	color: var(--dj-text-02);
}

.dj-input-group select.componentsSelect,
.dj-input-group select,
select.form-control {
	background: url('../../../img/ico/i-input-select.png') no-repeat #ffffff;
	background-size: 16px 16px;
	background-position: right 12px center;
	border: 1px solid var(--dj-line-02);
	border-radius: 4px;
	color: var(--dj-text-03);
	font-size: var(--dj-tert-14);
	height: 28px;
	padding: 0 12px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.dj-input-group select.componentsSelect:hover,
.dj-input-group select:hover,
select.form-control {
	border: 1px solid var(--dj-line-01);
}

.dj-input-group select.componentsSelect:focus,
.dj-input-group select:focus,
.dj-input-group select.componentsSelect:active,
.dj-input-group select:active,
select.form-control:focus,
select.form-control:active {
	border: 1px solid var(--dj-primary);
}

button:disabled {
	background: var(--gt-gray-06);
	color: var(--gt-gray-04);
}

.dj-input-group input[type='date']::-webkit-calendar-picker-indicator,
.dj-input-group input[type='date']::-webkit-inner-spin-button,
.dj-input-group input[type='month']::-webkit-calendar-picker-indicator,
.dj-input-group input[type='month']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-in,
input[type='date']::-webkit-inner-spin-button {
	display: none;
	appearance: none;
}

.dj-input-group input[type='date'],
.dj-input-group input[type='month'],
input[type='date'],
input[type='month'] {
	background: var(--dj-write);
	border: 1px solid var(--dj-line-02);
	border-radius: 4px;
	color: var(--dj-text-03);
	font-size: var(--dj-tert-14);
	height: 32px;
	padding: 0 12px;
	width: 100%;
}

.dj-input-group input[type='date']:hover,
.dj-input-group input[type='month']:hover {
	border: 1px solid var(--dj-line-01);
}

.dj-input-group input[type='date']:focus,
.dj-input-group input[type='date']:active,
.dj-input-group input[type='month']:focus,
.dj-input-group input[type='month']:active {
	border: 1px solid var(--dj-primary);
}

.dj-input-group input[type='date']::-webkit-calendar-picker-indicator,
.dj-input-group input[type='month']::-webkit-calendar-picker-indicator,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='month']::-webkit-calendar-picker-indicator {
	background: url(../../../img/ico/i-datepicker.png) no-repeat;
	background-size: 16px 16px;
	background-position: right center;
	cursor: pointer;
	display: block;
	height: 16px;
	width: 16px;
}

.dj-search-group {
	position: relative;
	width: 100%;
}

.dj-search-group button {
	background: none;
	border: 0;
	padding: 0;
}

.dj-search-group button:focus,
.dj-search-group button:active {
	outline: none;
}

.dj-search-group .btn-search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
}

.dj-search-group .btn-input-del {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 36px;
}

.btn {
	align-items: center;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	gap: 4px;
}

.btn-sm {
	font-size: var(--dj-tert-14);
	font-weight: 600;
	height: 28px;
	padding: 0 16px;
}

.dj-btn-group {
	align-content: center;
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

.dj-btn-group-center {
	align-content: center;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.dj-btn-primary {
	background: var(--dj-primary);
	border: 1px solid var(--dj-primary);
	color: var(--dj-write);
}

.dj-btn-primary:hover,
.dj-btn-primary:active,
.dj-btn-primary:focus {
	background: var(--dj-primary-drak);
	border: 1px solid var(--dj-primary-drak);
	color: var(--dj-write);
}

.dj-btn-green {
	background: var(--dj-green);
	border: 1px solid var(--dj-green);
	color: var(--dj-write);
}

.dj-btn-green:hover,
.dj-btn-green:active,
.dj-btn-green:focus {
	background: var(--dj-primary-drak);
	border: 1px solid var(--dj-primary-drak);
	color: var(--dj-write);
}

.dj-btn-gray {
	background: var(--dj-text-03);
	border: 1px solid var(--dj-text-03);
	color: var(--dj-write);
}

.dj-btn-gray:hover,
.dj-btn-gray:active,
.dj-btn-gray:focus {
	background: var(--dj-text-03);
	border: 1px solid var(--dj-text-03);
	color: var(--dj-write);
}

.dj-btn-outline-primary {
	background: var(--dj-write);
	border: 1px solid var(--dj-primary);
	color: var(--dj-primary);
}

.dj-btn-outline-primary:hover,
.dj-btn-outline-primary:active,
.dj-btn-outline-primary:focus {
	background: var(--dj-background-01);
	border: 1px solid var(--dj-primary);
	color: var(--dj-primary);
}

.dj-btn-outline-red {
	background: var(--dj-write);
	border: 1px solid var(--dj-error);
	color: var(--dj-error);
}

.dj-btn-outline-red:hover,
.dj-btn-outline-red:active,
.dj-btn-outline-red:focus {
	background: rgba(222, 0, 0, 0.05);
	border: 1px solid var(--dj-error);
	color: var(--dj-error);
}

.dj-btn-outline-gray {
	background: var(--dj-write);
	border: 1px solid var(--dj-line-01);
	color: var(--dj-text-02);
}

.dj-btn-outline-gray:hover,
.dj-btn-outline-gray:active,
.dj-btn-outline-gray:focus {
	background: var(--dj-background-03);
	border: 1px solid var(--dj-line-01);
	color: var(--dj-text-02);
}

.dj-btn-outline-green {
	background: var(--dj-write);
	border: 1px solid var(--dj-green);
	color: var(--dj-green);
}

.dj-btn-outline-green:hover,
.dj-btn-outline-green:active,
.dj-btn-outline-green:focus {
	background: var(--dj-write);
	border: 1px solid var(--dj-green);
	color: var(--dj-green);
}

.dj-card .bcard {
	box-shadow: none;
}

.sub-cont-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.sub-cont-header h1 {
	font-size: 24px;
}

.sub-cont-header .dj-input-group {
	width: 200px;
}

.sub-cont-header .dj-input-group.search {
	width: 280px;
}

.sub-cont-header .sub-cont-header-area {
	align-items: center;
	display: flex;
	gap: 8px;
}

.main-content .navbar {
	z-index: 1;
}

.custom-nav-tabs {
	border-bottom: 1px solid var(--dj-line-02);
}

.nav-item .custom-nav-link {
	align-items: center;
	background: var(--dj-write);
	border: 0;
	border-bottom: 1px solid var(--dj-line-02);
	color: var(--dj-text-01);
	display: flex;
	font-size: var(--dj-tert-14);
	height: 32px;
	justify-content: center;
	padding: 0 28px;
}

.nav-tabs .custom-nav-link:not([class*='btn-']) {
	color: var(--dj-text-01);
	background-color: var(--dj-write);
}

.nav-item.show .custom-nav-link:not([class*='btn-']),
.nav-tabs .nav-link.active:not([class*='btn-']) {
	color: var(--dj-primary);
	border: 0;
	border-bottom: 1px solid var(--dj-primary);
	font-weight: 600;
}

.custom-nav-tabs .nav-item.show .custom-nav-link,
.custom-nav-tabs .custom-nav-link.active {
	border-radius: 0;
	height: 32px;
	margin: 0;
}

#nav_search_bar {
	position: absolute;
	width: 100%;
}

.form-group label.errclr {
	font-style: normal;
	color: var(--dj-text-01);
	font-size: var(--dj-tert-14);
}

.dj-table table {
	border-collapse: collapse;
	width: 100%;
}

.dj-table table tr th {
	background: var(--dj-background-02);
	border-left: 1px solid var(--dj-line-01);
	border-right: 1px solid var(--dj-line-01);
	color: var(--dj-text-03);
	font-size: var(--dj-text-12);
	font-weight: 600;
	padding: 8px;
	text-align: center;
}

.dj-table table tr th:first-child {
	border-left: 0;
}

.dj-table table tr th:last-child {
	border-right: 0;
}

.dj-table table tr td {
	color: var(--dj-text-03);
	font-size: var(--dj-text-12);
	padding: 8px;
	text-align: center;
}

.page-align {
	margin: 30px 0 0 0;
}

#pagination .pagination {
	gap: 4px;
}

.page-link {
	align-items: center;
	border: 0;
	border-radius: 4px !important;
	color: var(--dj-text-02);
	display: flex;
	font-size: var(--dj-text-13);
	height: 24px;
	justify-content: center;
	padding: 0;
	min-width: 24px;
}

.page-link:hover {
	background: none;
	color: inherit;
}

.page-item.active .page-link {
	background: var(--dj-write);
	border: 1px solid var(--dj-primary);
	color: var(--dj-primary);
}

#pagination li span div {
	font-size: 0;
}

/*#pagination li:first-child span div {*/
/*    background: url("../../../img/ico/i-prev-double.png");*/
/*    background-size: cover;*/
/*    height: 24px;*/
/*    width: 24px;*/
/*}*/

/*#pagination li:nth-child(2) span div {*/
/*    background: url("../../../img/ico/i-prev.png");*/
/*    background-size: cover;*/
/*    height: 24px;*/
/*    width: 24px;*/
/*}*/

/*#pagination li:last-child span div {*/
/*    background: url("../../../img/ico/i-next-double.png");*/
/*    background-size: cover;*/
/*    height: 24px;*/
/*    width: 24px;*/
/*}*/

/*#pagination li.next span div {*/
/*    background: url("../../../img/ico/i-next.png");*/
/*    background-size: cover;*/
/*    height: 24px;*/
/*    width: 24px;*/
/*}*/

.table-top {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	margin: 0 0 12px 0;
}

.sub-cont-header-area form {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

.sub-cont-header-area form button {
	flex: 0 0 auto;
}

.search-area {
	align-items: center;
	display: flex;
	gap: 8px;
	width: 100%;
}

.search-area .dj-input-group {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 120px;
}

.search-area .dj-input-group label {
	color: var(--dj-primary-drak);
	font-size: var(--dj-text-12);
	margin: 0;
	text-align: left;
}

.search-area .dj-btn-group {
	margin: 0 0 0 auto;
}

.login-wrap {
	align-items: center;
	background: var(--dj-background-02);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.login-wrap h6 {
	color: var(--dj-primary);
	font-size: 24px;
	margin: 20px 0 0 0;
}

.login-area {
	align-items: center;
	display: flex;
	border-radius: 46px;
	width: 1020px;
	height: 636px;
	overflow: hidden;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 20px #00000029;
}

.login-input {
	padding: 0 40px;
	width: 50%;
}

.login-input .img-group {
	margin: 0 0 40px 0;
	text-align: center;
}

.login-input img {
	margin: 0 auto 20px auto;
	width: 240px;
}

.login-input input {
	height: 48px;
}

.login-input button {
	height: 48px;
	width: 100%;
}

.login-img {
	width: 50%;
}

.login-img img {
	object-fit: cover;
	width: 100%;
}

.chosen-container > .chosen-single,
[class*='chosen-container'] > .chosen-single {
	height: 32px;
	line-height: 32px;
}

#infoContainer > .col-md-no-padding {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
#infoContainer > .col-md-no-padding > .row > .col-md-no-padding {
	align-items: center;
	display: flex;
	width: 100%;
}

#infoContainer > .col-md-no-padding > .row > .col-md-no-padding label {
	font-size: 14px;
	flex: 0 0 auto;
	margin: 0;
	width: 120px;
}
