.jsgrid-header-row > .jsgrid-header-cell,
.jsgrid-grid-header {
    background: var(--dj-background-02);
}

.jsgrid-header-scrollbar::-webkit-scrollbar-track {
    background: var(--dj-background-02);
}

.jsgrid-header-cell {
    border-color: var(--dj-line-01) !important;
    font-size: var(--dj-text-12) !important;
}

.jsgrid-table tr:first-child {
    height: 0;
}

.jsgrid-header-row > .jsgrid-header-group {
    border-top: 0 !important;
    border: 1px solid var(--dj-line-01);
}

.jsgrid-cell {
    border: 0 !important;
    padding: 8px !important;
    vertical-align: middle;
}

.jsgrid-row.selected > .jsgrid-cell,
.jsgrid-alt-row.selected > .jsgrid-cell {
    background: var(--dj-background-02) !important;
}

.jsgrid-grid-body {
    font-size: var(--dj-text-12) !important;
}

.jsgrid-grid-body::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

.jsgrid-pager-container {
    margin: 16px 0 0 0;
}

.jsgrid-pager {
    align-items: center;
    color: var(--dj-text-02);
    font-size: var(--dj-tert-14);
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0;
}

.jsgrid-pager-page {
    padding: 0;
}

.jsgrid-pager-page {
    align-items: center;
    border-radius: 4px;
    color: var(--dj-text-02);
    display: flex;
    font-size: var(--dj-tert-14);
    font-weight: 400;
    height: 24px;
    justify-content: center;
    padding: 0 8px;
    min-width: 24px;
}

.jsgrid-pager-page a {
    color: var(--dj-text-02);
}

.jsgrid-pager-page.jsgrid-pager-current-page {
    border: 1px solid var(--dj-primary);
    color: var(--dj-primary);
}

.jsgrid-pager-nav-button {

    padding: 0;
}

.jsgrid-pager-nav-button a {
    color: var(--dj-text-02);
    font-weight: 400;
}

.jsgrid .jsgrid-button.jsgrid-edit-button {
    background: url("../../../img/ico/i-edit.png");
    background-size: cover;
    height: 16px;
    width: 16px;
}

.jsgrid .jsgrid-button.jsgrid-delete-button {
    background: url("../../../img/ico/i-trash.png");
    background-size: cover;
    height: 16px;
    width: 16px;
}

.jsgrid .jsgrid-button.jsgrid-update-button {
    background: url("../../../img/ico/i-update.png");
    background-size: cover;
    height: 16px;
    width: 16px;
}

.jsgrid .jsgrid-button.jsgrid-cancel-edit-button {
    background: url("../../../img/ico/i-cancel.png");
    background-size: cover;
    height: 16px;
    width: 16px;
}
