
/******************************/
/*
		x_contentContainer
		*/
.table-header {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-size: 12px;
}

.table-header-cell {
	padding: 0px 0px 0px 10px;
}

.xcontentsCabinet {
	overflow: hidden;
	position: absolute;
	width: 400px;
	height: 100%;
	right: 0px;
	padding: 4px;
	padding-right: 0px;
	/* padding-right:2px; */
	background-color: #f8f8f8;
}

.xcontentsContainer {
	/* display: 'none';
			visibility: 'hidden'; */
	position: absolute;
	width: 400px;
	height: 100%;
	padding: 4px;
	color: #efefef;
	cursor: default;
	background-color: #f8f8f8;
}

.xcontentsContainer::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #2A3F54; /* #F5F5F5; */
}

.xcontentsContainer::-webkit-scrollbar {
	width: 8px;
	background-color: #7a99d9; /* #F5F5F5; */
}

.xcontentsContainer::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3); /* #242424; */ /* #1ABB9C;*/
	/* #000000; */
	border: 1px solid #7a99d9; /*#1c3a94; */ /*  #555555; */
	border-radius: 3px;
}

/******************************/
.jsgrid-grid-header, .jsgrid-grid-body {
	border: none;
}

.table-bordered {
	border-left: none;
	border-right: none;
}

.xctn_sum_head {
	padding-right: 8px;
	padding-bottom: 4px;
	font-size: 12px;
}

.xctn_sum_body {
	padding-right: 8px;
	font-size: 22px;
	font-weight: bold;
	color: #222;
}

.jsgrid-header-scrollbar::-webkit-scrollbar {
	visibility: hidden;
}

.jsgrid-header-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.jsgrid-header-scrollbar::-webkit-scrollbar, .jsgrid-grid-body::-webkit-scrollbar
	{
	width: 8px;
	/* background-color: #7a99d9; */ /* #F5F5F5; */
}

.jsgrid-grid-body::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* background-color: #2A3F54; */ /* #F5F5F5; */
	
}

.jsgrid-grid-body::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3); /* #242424; */ /* #1ABB9C;*/
	/* #000000; */
	/* border: 1px solid  #7a99d9; */ /*#1c3a94; */ /*  #555555; */
	border-radius: 2px;
}