body, html {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.mapContainer {
	position: absolute;
	/* overflow:hidden; */
	z-index: 1;
	left: 0px;
	right: 0px;
	height: 100%;
	/* background: #2A3F54; */ /* #34495E; */
	background-color: #f8f8f8;
	border-right: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
}

/******************************/
/*
		controll button
		*/
.xctn-expand {
	top: 0.5em;
	font-size: 13px;
	right: 0.5em; /* 7px; */
	left: unset;
	/* left: -moz-calc(100% - 33px);
    left: -webkit-calc(100% - 33px);
    left: calc(100% - 33px); */
}

.ol-zoom {
	top: 3em;
	font-size: 13px;
	right: 0.5em; /* 7px; */
	left: auto;
	/* left: -moz-calc(100% - 33px);
	left: -webkit-calc(100% - 33px);
	left: calc(100% - 33px); */
}

.zoom-reset {
	top: 7.7em;
	font-size: 13px;
	right: 0.5em; /* 7px; */
	left: unset;
	/* left: -moz-calc(100% - 33px);
    left: -webkit-calc(100% - 33px);
    left: calc(100% - 33px); */
}

.layer-switcher {
	top: 10.2em;
	font-size: 13px;
	right: 0.5em; /* 7px; */
	margin: 0px;
	padding: 2px;
	left: unset;
}


.ol-rotate {
	top: 12.7em;
	font-size: 13px;
	right: 0.5em; /* 7px; */
	left: unset;
}

/******************************/
.btn-selected {
	color: red;
	background-color: rgba(0, 60, 136, 1);
}
